{
  "env": {
    // テスト時にのみプラグインを適用する
    "test": {
      "plugins": [
        // JestがES Modulesに対応していない問題に対処するため、babelでCommonJSに変換するためのプラグイン
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
